BOT_TOKEN=""
EXPORTER_BOT_TOKEN=""
DATABASE_URL=""
CMD_PREFIX=""
CMD_CHANNEL_ID=""
CUS_SERVICE_ROLE_ID=""
LOG_CHANNEL_ID=""
ARCHIVE_CHANNEL_ID=""
APP_ID=""
FEEDBACK_CHANNEL_ID=""
DISCORD_LOG_WEBHOOK_URL=""
LOG_LEVEL=""
